// Colours
$white: #ffffff;
$black: #000000;
$lightGrey: #f0f0f0;
$darkGrey: #3e3e3e;
$fadedText: rgba(38,34,34,.6);
$menuItems: #262222;
$red: #D30D20;

// Fonts
$primaryFont: 'Goudy Bookletter 1911', serif;


